In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
# Load datasets
data_path = "/Users/georgekas/EDA_Project/E-Commerce-Analysis/data/"
df_customers = pd.read_csv(data_path + "olist_customers_dataset.csv")
df_geo = pd.read_csv(data_path + "olist_geolocation_dataset.csv")
df_items = pd.read_csv(data_path + "olist_order_items_dataset.csv")
df_payments = pd.read_csv(data_path + "olist_order_payments_dataset.csv")
df_orders = pd.read_csv(data_path + "olist_orders_dataset.csv")
df_products = pd.read_csv(data_path + "olist_products_dataset.csv")
df_sellers = pd.read_csv(data_path + "olist_sellers_dataset.csv")
product_category_name = pd.read_csv(data_path + "product_category_name_translation.csv")

print("Data successfully loaded.")

Data successfully loaded.

In [3]:
# Merge datasets into a single DataFrame
df = (df_orders
      .merge(df_items, on='order_id', how='inner')
      .merge(df_payments, on='order_id', how='inner')
      .merge(df_products, on='product_id', how='inner')
      .merge(df_customers, on='customer_id', how='inner')
      .merge(df_sellers, on='seller_id', how='inner'))

print("Datasets merged successfully.")
print(f"Final Merged Data Shape: {df.shape}")
df.head()

Datasets merged successfully.
Final Merged Data Shape: (117601, 33)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,product_length_cm,product_height_cm,product_width_cm,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,9350,maua,SP
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,87285b34884572647811a353c7ac498a,...,19.0,8.0,13.0,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,9350,maua,SP

In [4]:
# Handling Missing Values
missing_values = df.isnull().sum()
print("Missing Values per Column:")
print(missing_values[missing_values > 0])

# Drop missing values
df.dropna(inplace=True)
print(f"Data Shape after Dropping Missing Values: {df.shape}")

Missing Values per Column:
order_approved_at                  15
order_delivered_carrier_date     1245
order_delivered_customer_date    2567
product_category_name            1698
product_name_lenght              1698
product_description_lenght       1698
product_photos_qty               1698
product_weight_g                   20
product_length_cm                  20
product_height_cm                  20
product_width_cm                   20
dtype: int64
Data Shape after Dropping Missing Values: (113390, 33)

In [5]:
# Summary Statistics
print("Summary Statistics for Numerical Columns:")
display(df.describe())

Summary Statistics for Numerical Columns:

,order_item_id,price,freight_value,payment_sequential,payment_installments,payment_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,customer_zip_code_prefix,seller_zip_code_prefix
count,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000,113390.000000
mean,1.196843,120.184057,20.023985,1.089937,2.942367,172.241850,48.801755,785.793059,2.209375,2110.641917,30.281665,16.618635,23.099427,35080.723027,24510.930117
std,0.701270,182.761548,15.752500,0.682057,2.777802,266.596347,10.018253,650.986313,1.720293,3770.379971,16.160708,13.447915,11.740315,29844.853275,27636.230916
min,1.000000,0.850000,0.000000,1.000000,0.000000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1003.000000,1001.000000
25%,1.000000,39.900000,13.080000,1.000000,1.000000,61.000000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,11320.000000,6429.000000
50%,1.000000,74.900000,16.320000,1.000000,2.000000,108.140000,52.000000,601.000000,1.000000,700.000000,25.000000,13.000000,20.000000,24325.000000,13660.000000
75%,1.000000,133.732500,21.200000,1.000000,4.000000,189.370000,57.000000,985.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,58768.750000,28495.000000
max,21.000000,6735.000000,409.680000,26.000000,24.000000,13664.080000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99980.000000,99730.000000

In [6]:
#Export to csv 
df.to_csv("Brazilian_E-Commerce_Cleaned.csv")